<div class="advanced-container not-selectable">
    <div class="advanced-content">
        <div class="inner-content">
            <h1>Tools</h1>

            <p class="paragraph-margin">If you have problems with Rutanio Core, we have these tools to help investigate and fix potential issues that might occur.</p>
            <br>
            <div class="advanced-buttons">
                <button class="advanced-button" mat-flat-button *ngIf="!appState.isSimpleMode" (click)="openDataFolder()">Open Wallet Folder</button> &nbsp;
                <br><br>
                <button class="advanced-button" mat-flat-button (click)="updateService.checkForUpdate()" [disabled]="updateService.downloading">Check for Update</button> &nbsp;
                <button class="advanced-button" mat-flat-button *ngIf="updateService.available" [disabled]="updateService.downloading" (click)="updateService.downloadUpdate()">Download Update</button> &nbsp;
                <button class="advanced-button" mat-flat-button *ngIf="updateService.downloaded" (click)="updateService.installUpdate()">Install Update</button>
            </div>
            <br>
            <p>
                <button class="advanced-button" routerLink="/login" mat-flat-button>Go back</button>
            </p>
        </div>
    </div>

    <div class="advanced-banner">
    </div>

</div>
