.about {
    .about-card {
        max-width: 600px;
        margin-bottom: 30px;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-image: url('../../../assets/rutanio-core/card-background.png');
        background-size: cover;
      }

      .mat-divider {
        border-top-color: rgba(0,0,0,.12);
        display: inline-block;
        border-top-width: 1px;
        border-top-style: solid;
        position: absolute;
        margin: 0;
        width: calc(100% - 64px);
        margin-left: 25px;
    }

      .mat-card-subtitle , .mat-card-title {
        color: white;
        margin-bottom: 20px;
    }

      p {
        margin-left: 12px;
        color: white;
      }

      mat-list-item , a , .about-nav-caret {
          color: white !important;
      }

      a:hover {
          color: rgb(70, 5, 252)
      }

      .button-block {
        margin-left: 12px;
    }

    .about-card .mat-card-image:first-child
    {
        margin-top: -8px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

     .about-nav-title {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bol;
    }

    .about-logo {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: calc(100% - 250px);
    }

    .about-nav-caret {
        flex: 0 0 auto;
    }

    .about-card .mat-stroked-button {
        margin-right: 10px;
        margin-top: 10px;
    }

    .accept-button {
        background: linear-gradient(to bottom left, #5fecff, #52185e) !important;
        background-size: cover;
        color: white;
        font-size: 1rem;
    }
}
