.settings {
  .settings-card {
    max-width: 400px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../../assets/rutanio-core/card-background.png');
    background-size: cover;
    color: white;
  }

  .settings-card .mat-card-avatar {
    font-size: 3em;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }

  .settings-card h3 {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .settings-card mat-radio-button {
    margin-bottom: 10px;
  }

  .settings-row
  {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .settings-row > :nth-child(1)
  {
    min-width: 140px;
  }

  .settings-row > :nth-child(2)
  {
    
  }

  .mat-card-subtitle {
      color: white;
  }

  .locale-warning {
      color: orangered;
  }

  .open-api-button {
    width: 120px;
    background: linear-gradient(to bottom left, #5fecff, #52185e);
    background-size: cover;
    color: white;
    font-size: 1.1rem;
  }

    /* mat-form-field styling */
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.70) !important;
    }

    /* mat-form Border */
    .mat-form-field , .mat-select-arrow{
        color: white;
    }
    /* mat-form Border */
    .mat-form-field .mat-form-field-label {
        color: white;
    }
    .mat-form-field .mat-form-field-underline , .mat-form-field.mat-focused .mat-form-field-underline {
        background-color: white;
    }
    .mat-select .mat-select-value {
        color: white;
    }

    .mat-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-frame , 
    .mat-checkbox.mat-checkbox-checked .mat-checkbox-inner-container .mat-checkbox-background {
        border-color: white;
        background-color: transparent;
    }

    .mat-radio-button.mat-radio-checked .mat-radio-container .mat-radio-outer-circle {
        border-color: white;
    }
    .mat-radio-button .mat-radio-container .mat-radio-inner-circle {
        background-color: white;
    }

    .settings-card > * .mat-focused .mat-form-field-ripple {
        background-color: white !important;
    }

}
