<div class="content">

    <mat-card class="settings-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>mood</mat-icon>
            <mat-card-title>User Experience</mat-card-title>
            <mat-card-subtitle>Settings to customize user experience.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <h3 class="mat-h3">Localization (Number and dates format)</h3>

            <mat-form-field class="settings-select">
                <mat-select placeholder="Choose Localization" (selectionChange)="onLocaleChange($event)" [(ngModel)]="selectedLocale" [(value)]="selectedLocale">
                    <mat-option value="en">English</mat-option>
                    <mat-option value="es">Español</mat-option>
                    <mat-option value="fr">French</mat-option>
                    <mat-option value="it">Italian</mat-option>
                </mat-select>
            </mat-form-field>

            <h4 *ngIf="!selectedLocale" class="locale-warning">To enable the other options to customize your experience, you must choose a localization</h4>

            <div *ngIf="selectedLocale">
                <h3 class="mat-h3">Mode</h3>

                <mat-form-field class="settings-select">
                    <mat-select (selectionChange)="onChanged($event)" [(ngModel)]="selectedMode">
                        <mat-option *ngFor="let mode of appModes.available" [value]="mode.id">
                            {{mode.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <h3 class="mat-h3">Minimized Window Mode</h3>

                <mat-checkbox (change)="onChanged($event)" [(ngModel)]="selectedShowInTaskbar">Show in taskbar when minimized</mat-checkbox>

                <h3 class="mat-h3">Autostart on log in</h3>

                <mat-checkbox (change)="onChanged($event)" [(ngModel)]="selectedOpenOnLogin">Start Rutanio Core when you log in to your computer</mat-checkbox>

                <h3 class="mat-h3">Language</h3>

                <mat-form-field class="settings-select">
                    <mat-select placeholder="Choose language" (selectionChange)="onChanged($event)" [(ngModel)]="selectedLanguage">
                        <mat-option value="es-MX">Español</mat-option>
                        <mat-option value="en-US">English</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br>
        </mat-card-content>
    </mat-card>

    <mat-card class="settings-card" >
        <mat-card-header>
            <mat-icon mat-card-avatar>build</mat-icon>
            <mat-card-title>API</mat-card-title>
            <mat-card-subtitle>Explore the Rutanio-Core API</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <button mat-raised-button color="primary" onclick="window.open('http://localhost:39220/docs/index.html')" class="open-api-button">Open API </button>
        </mat-card-content>
    </mat-card>

    <mat-card class="settings-card" *ngIf="selectedLocale">
        <mat-card-header>
            <mat-icon mat-card-avatar>account_balance_wallet</mat-icon>
            <mat-card-title>Wallet Options</mat-card-title>
            <mat-card-subtitle>Settings that applies to your wallet.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h3 class="mat-h3">Wallet Mode</h3>

            <mat-radio-group (change)="onChanged($event)" [(ngModel)]="selectedWalletMode">
                <mat-radio-button value="multi">Multi-Address-Mode</mat-radio-button>
                <br>
                <mat-radio-button value="single">Single-Address-Mode</mat-radio-button>
            </mat-radio-group>

        </mat-card-content>
    </mat-card>

    <mat-card class="settings-card" *ngIf="appModes.enabled('debug')">
        <mat-card-header>
            <mat-icon mat-card-avatar>adb</mat-icon>
            <mat-card-title>Debug Settings</mat-card-title>
            <mat-card-subtitle>Allows you to enable debug options</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <button mat-raised-button color="primary" (click)="openDevTools()">Open Developer Tools</button>

        </mat-card-content>
    </mat-card>

</div>
