.send {

    .spinner-container {
		vertical-align: middle;
		display: inline-block;
    }
    
    .mat-form-field {
        width: 100%;
        max-width: 400px;
    }

    mat-card {
        margin-bottom: 20px;
    }
/* mat-form-field styling */
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.70) !important;
    }

    /* mat-form Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: white;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
        color: white;
    }
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-label{
        color: red !important;
    }
    /* mat-form Border */
    .mat-form-field.mat-focused .mat-form-field-label {
        color: white;
    }
    .mat-form-field .mat-form-field-label {
        color: white;
    }
    /* mat-form Font color */
    input.mat-input-element {
        color: white;
    }
    .send-card {
        background-image: url('../../../../assets/rutanio-core/card-background.png') !important;
        background-size: cover;
        color: white;
    }

    .token-send > * .mat-form-field-subscript-wrapper {
        position: inherit;
    }

    .extraError {
        color: red;
        font-size: 12px;
        margin-left: 10px;
    }

    .wallet-send , .wallet-cancel {
        width: 100px;
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
        font-size: 1.2rem;
    }

    /* mat-form-field styling */
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.70) !important;
    }

    /* mat-form Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: white;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
        color: white;
    }
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-label{
        color: red !important;
    }
    /* mat-form Border */
    .mat-form-field.mat-focused .mat-form-field-label {
        color: white;
    }
    .mat-form-field .mat-form-field-label {
        color: white;
    }
    /* mat-form Font color */
    input.mat-input-element {
        color: white;
    }

    .send-card > * .mat-focused input {
        caret-color: white;
    }

    .idField {
        display: flex;
        flex-flow: row;
    }

    .mat-icon-button {
        width: 20px;
        height: 20px;
        line-height: normal;
        margin-left: 5px;
    }

    .mat-icon {
        font-size: 20px;
        line-height: normal;
    }

}
