.receive
{
    .centered {
        text-align: center  !important;
    }

    .mat-caption {
        padding-left: 30%;
        padding-right: 30%;
    }

    .main-receive {
        text-align: center;
    }

    .show-button {
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
        font-size: 1rem;
    }

    .tab-pane {
        margin: 20px;
    }

    .addresses-tab {
        box-shadow: none;
    }

    .addresses-tab .mat-tab-header {
        border-bottom: 0;
    }

    .receive-addresses > * .mat-tab-label {
        background-color: #351049 !important;
        background-size: cover;
        color: white;
        border-radius: 15px;
        margin: 0 30px;
    }

    .receive-addresses > * .mat-tab-label-active {
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
    }

    .receive-addresses > * .mat-ink-bar {
        display: none !important;
    }
}
