<div class="content not-selectable">
    <div fxLayout="column">
        <div class="network-stat-row" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="20px grid" fxLayoutGap.sm="20px grid">
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label">Network Height</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value">{{walletService.generalInfo?.chainTip.toLocaleString(this.localeService.locale)}}</span>
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label">Wallet Height</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value">{{walletService.generalInfo?.lastBlockSyncedHeight.toLocaleString(this.localeService.locale)}}</span>
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label">Connections</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value">{{walletService.generalInfo?.connectedNodes}}</span>
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
        <div class="network-stat-row" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="20px grid" fxLayoutGap.sm="20px grid">
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label">Network</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value">{{walletService.generalInfo?.network}}</span>
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label" *ngIf="walletService.generalInfo.isChainSynced">Chain Synced</span>
                        <span class="network-label" *ngIf="!walletService.generalInfo.isChainSynced"><mat-icon>cloud_download</mat-icon> Chain Syncing</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value" *ngIf="walletService.generalInfo.isChainSynced">
                            <mat-icon>cloud_done</mat-icon>
                        </span>
                        <span class="network-value-2" *ngIf="!walletService.generalInfo.isChainSynced">{{walletService.daysAhead}}</span>
                        <!-- <span class="network-value" *ngIf="!walletService.generalInfo.isChainSynced">
                            <mat-icon>cloud_download</mat-icon>
                        </span> -->
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div fxFlex>
                <mat-card>
                    <mat-card-title>
                        <span class="network-label">Account date</span>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <span class="network-value">{{walletService.generalInfo?.creationTime.toLocaleDateString(this.localeService.locale)}}</span>
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-progress-bar mode="determinate" ng-hide="walletService.generalInfo == null" *ngIf="walletService.percentSyncedNumber !== 100" bufferValue="0" mode="buffer" [value]="walletService.percentSyncedNumber"></mat-progress-bar>
</div>

<div class="network-details-footer">
    <button class="accept-button" (click)="details()" mat-raised-button>Show details</button>
</div>

<!-- <p>{{walletService.fetchBlockData()}}</p> -->
