<div class="content">
    <h1 class="mat-h1" *ngIf="appState.handset">{{appState.appTitle$ | async}}</h1>

    <h3 class="mat-h3">September 7, 2021 (v1.0.5)</h3>

    <ul>
        <li>Full revamp of the Rutanio-Core wallet UI</li>
        <li>Add Node Syncing dates feature, it is now possible to know from the Network status screen and from the tiptool of the top menu the remaining time for the node to synchronize</li>
        <li>Fix update details, from now on the list of changes and the download links of a new update are detailed</li>
        <li>Update daemon packages(1.0.23) to reduce the node time on start up for all platforms</li>
        <li>Update notification for 'No updates available'</li>
        <li>Add 'Reset database' option</li>
        <li>Add downloading and unpacking feature</li>
        <li>Add blink feature to download button</li>
        <li>Add API button in settings view</li>
        <li>Remove mac targets (dmg, zip)</li>
        <li>Add mac target pkg</li>
        <li>Add blink feature to download button</li>
    </ul>

    <h3 class="mat-h3">September 21, 2020 (v1.0.2)</h3>

    <ul>
        <li>Initialization process fixed </li>
        <li>Installer package labels updated</li>
    </ul>


    <h3 class="mat-h3">September 11, 2020 (v1.0.1)</h3>

    <ul>
        <li>Add Rutanio support</li>
    </ul>



    <br>
    <em>Preview release change history was purged.</em>

</div>
