<div class="splash-container not-selectable">

    <div class="network-load">
        <ng-template [ngIf]="!loading">
            <div class="loadGrid">
                <div class="network-start">
                    <img src="assets/rutanio-core/logo-rutanio.png" class="load-logo">
                    <mat-form-field appearance="fill">
                        <mat-select placeholder="Select network" [(ngModel)]="selectedNetwork">
                            <mat-option *ngFor="let network of networks" [value]="network">
                                {{network.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <button (click)="launch()" [disabled]="selectedNetwork == null" mat-raised-button class="start-button">Start</button>
                    <br>
                    <mat-checkbox class="network-remember" [(ngModel)]="remember">Remember</mat-checkbox>
                    <mat-accordion class="setup-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    Advanced
                                    <mat-icon>build</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
            
                            <div>
                                <button class="button-confirm" (click)="resetDatabase()" mat-raised-button>Reset Database</button>
                                <br>
                                <br>
                                <button class="button-confirm" [disabled]="downloading || unpacking" (click)="downloadAndUnpack()" mat-raised-button>Download and unpack</button>
                                <br>
                                <br>
                                <a onclick="window.open('https://link.rutanio.com/fullchain')">More about downloading the fullchain</a>
                                <div *ngIf="downloading && downloadProgress">
                                    <br><br>
                                    Downloading:<br><br>
                                    <mat-progress-bar mode="determinate" [value]="downloadProgress.progress"></mat-progress-bar>
                                    <br>
                                    {{humanFileSize(downloadProgress.downloaded) }} of {{humanFileSize(downloadProgress.size) }}
                                    <br><br>
                                    <button class="button-confirm" (click)="cancelDownload()" mat-raised-button>Cancel</button>
                                </div>
            
                                <div *ngIf="unpacking">
                                    <br><br>
                                    Unpacking:<br><br>
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </div>
            
                                <div *ngIf="unpacked">
                                    <br><br>
                                    Download and unpacking completed.<br>
                                    You can now continue by clicking Start.
                                </div>
            
                                <div *ngIf="resetDone">
                                    <br>
                                    Reset done!
                                </div>
                                <div *ngIf="noSpace">
                                    <br>
                                     No space left on device, you need 5GB free minimum.
                                </div>
    
                            </div>
                        </mat-expansion-panel>
            
                    </mat-accordion>
            
            
                    <mat-accordion class="setup-headers-align" multi>
            
                    </mat-accordion>
                </div>
            </div>

        </ng-template>
    </div>

    <div class="loading-screen" *ngIf="this.loading">
        <div class="loading-content">
            <span class="load-text">Loading <strong class="chain-name">{{appState.chain}}</strong> Modules... please wait.<br><br>
                <div class="load-feature-status" *ngFor="let feature of featureStatus">
                    <div class="name"><mat-spinner diameter="20" *ngIf="!feature.initialized"></mat-spinner><mat-icon *ngIf="feature.initialized" [ngStyle]="{'color':'green'}">done</mat-icon>  {{feature.name}}</div>
                </div>
            </span>
            <br>
            <div class="bar-progress">
                <mat-progress-bar color="black" mode="determinate"  [value]="progressbarValue"></mat-progress-bar>
                <h1 style="text-align: center">{{progressbarValue | number: '1.0-0'}} %</h1>
            </div>
                <br>Release {{appState.version}}
            <span *ngIf="!delayed">
                <br>
                <button (click)="cancel()" mat-raised-button class="onload-button">GO BACK</button>
            </span>
            <span *ngIf="delayed">
                <br>
                <button routerLink="/advanced" mat-raised-button class="onload-button">ADVANCED</button>&nbsp;
                <button (click)="cancel()" mat-raised-button class="onload-button">CANCEL</button>
            </span>
        </div>
    </div>
</div>
