.details {

    .details-content {
        display: flex;
        flex-direction: column;
    }

    .details-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
    }

    .details-row-title {
        font-weight: bold;
        width: 120px;
    }

    .details-row-value {
        display: flex;
    }

    .details-full-width {
        min-width: 100% !important;
    }

    .coinUnit {
        margin-left: 5px;
    }

    .mat-icon-button {
        width: 20px;
        height: 20px;
        line-height: normal;
        margin-left: 5px;
    }

    .mat-icon {
        font-size: 20px;
        line-height: normal;
    }

}
