<div class="content">
    <mat-card class="balance">
        <mat-card-content>
            <div fxFlex>
                <div class="balanceTitle">
                    <h2 class="mat-h2">Balance</h2>
                    <mat-icon class="wallet-info-icon balanceToolTip" [matTooltip]="walletInfo">info</mat-icon>
                </div>
                <h4>The balance of: {{wallet.walletName}}</h4>
                <h4>
                    <strong>{{ (wallet.confirmedBalance | coinNotation | number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                    <small class="text-uppercase"><b> {{ wallet.coinUnit }} </b></small>
                    <em *ngIf="isIBD">Updating the chain</em>
                </h4>
                <p>
                    <span *ngIf="walletStatistics">
                        <strong>{{walletStatistics.totalUtxoCount | number: '1.0-8': this.localeService.locale}}</strong>
                        <small class="text-uppercase"> UTXOs</small>
                        <span class="vertical-spacer">|</span>
                        <strong>{{walletStatistics.uniqueTransactionCount | number: '1.0-8': this.localeService.locale}}</strong>
                        <small class="text-uppercase"> TRXs</small>
                        <mat-icon class="txInfo balanceToolTip" [matTooltip]="txInfo">info</mat-icon>
                    </span>
    
                </p>
                <ul *ngIf="wallet.unconfirmedBalance">
                    <li>
                        <strong>{{ (wallet.unconfirmedBalance | coinNotation | number: '1.0-8': this.localeService.locale) || (0 | coinNotation) }}</strong>
                        <em> (unconfirmed)</em>
                    </li>
                </ul>
            </div>
            <div fxFlex class="balance-buttons">
                <p>
                    <button mat-flat-button class="wallet-send" routerLink="/wallet/send">Send</button>&nbsp;
                    <button mat-flat-button class="wallet-receive" routerLink="/wallet/receive">Receive</button>&nbsp;
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div class="content">
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid" fxLayoutGap.sm="0px grid">
        <div fxFlex>
            <mat-card *ngIf="wallet.hasBalance && appModes.enabled('staking')" class="wallet-split-card staking">
                <div class="wallet-split-left" *ngIf="!wallet.stakingEnabled">
                    <div class="balanceTitle">
                        <h2 class="mat-h2">Staking</h2>
                        <mat-icon class="wallet-info-icon balanceToolTip" [matTooltip]="stakingInfo">info</mat-icon>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info text-center" role="alert">Unlock your wallet to start staking</div>
                        <br>
                        <form [formGroup]="stakingForm">
                            <div class="form-group">
                                <mat-form-field appearance="outline">
                                    <mat-label>Account password</mat-label>
                                    <input matInput type="password" id="inputPassword" formControlName="walletPassword" placeholder="Fill out to unlock account">
                                </mat-form-field>
                                <br>
                                <button type="button" mat-flat-button id="flipcard" [disabled]="wallet.isStarting || !stakingForm.valid" (click)="startStaking()" class="wallet-button">Unlock</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="staking" class="wallet-split-left" *ngIf="wallet.stakingEnabled">
                    <div class="balanceTitle">
                        <h2 class="mat-h2">Staking</h2>
                        <mat-icon class="wallet-info-icon balanceToolTip" [matTooltip]="stakingInfo">info</mat-icon>
                    </div>
                    <ul>
                        <li *ngIf="wallet.isStarting">Waiting for staking to start...</li>
                        <li>Your weight is
                            <strong>{{ wallet.stakingWeight | coinNotation | number: '1.0-8': this.localeService.locale }} {{ wallet.coinUnit }}</strong>
                        </li>
                        <li>Network weight is
                            <strong>{{ wallet.netStakingWeight | coinNotation | number: '1.0-2': this.localeService.locale }} {{ wallet.coinUnit }}</strong>
                        </li>
                        <li class="mt-2">Expected reward time is:
                            <strong>{{ wallet.dateTime }}</strong>
                        </li>
                        <li>
                            % Network:
                            <strong>{{ wallet.percentNetwork | number: '1.0-2': this.localeService.locale }}%</strong>
                        </li>
                    </ul>
        
                    <p>
                        <button type="button" class="wallet-button" mat-flat-button [disabled]="wallet.isStopping" (click)="stopStaking()">Stop Staking</button>
                    </p>
                </div>
            </mat-card>
        </div>
        <div fxFlex *ngIf="wallet.stakingEnabled">
            <mat-card *ngIf="wallet.hasBalance && appModes.enabled('staking')" class="wallet-split-card details">
                <div class="advanced-details">
                    <div fxFlex>
                        <div>
                            <h2 class="mat-h2">Details</h2>     
                            <br>
                            <mat-card-content>
                                <ul>
                                    <li>Staking:
                                        <strong>{{wallet.stakingInfo.staking}}</strong>
                                    </li>
                                    <li>Errors:
                                        <strong>{{wallet.stakingInfo.errors}}</strong>
                                    </li>
                                    <li>CurrentBlockSize::
                                        <strong>{{wallet.stakingInfo.currentBlockSize}}</strong>
                                    </li>
                                    <li>
                                        CurrentBlockTx:
                                        <strong>{{wallet.stakingInfo.currentBlockTx}}</strong>
                                    </li>
                                    <li>
                                        PooledTx:
                                        <strong>{{wallet.stakingInfo.pooledTx}}</strong>
                                    </li>
                                    <li>
                                        Difficulty:
                                        <strong>{{wallet.stakingInfo.difficulty.toLocaleString(this.localeService.locale)}}</strong>
                                    </li>
                                    <li>
                                        Search interval:
                                        <strong>{{wallet.stakingInfo.searchInterval}}</strong>
                                    </li>
                                </ul>
                            </mat-card-content>
                        </div>
                    </div>
                </div>
                
            </mat-card>
        </div>
    </div>
</div>

<div class="content">
    <mat-card class="transactions">
        <h2 class="mat-h2">Transactions</h2>

        <div *ngIf="wallet.isSingleAddressMode">
            <p class="mat-caption">
                You have enabled Single-Address-Mode in settings, this changes the behavior of the transaction history. When you perform a transaction, the history below will show both
                sent and received (change coins). Normally the change coins are never shown in the transaction history.
            </p>
            <br>
        </div>

        <nav mat-tab-nav-bar mat-stretch-tabs>
            <a mat-tab-link *ngFor="let link of links" (click)="filterHistory(link)" [active]="activeLink == link" class="transaction-types"> {{link.title}} </a>
        </nav>

        <div class="tab-pane">

            <ng-template [ngIf]="!wallet.transactionArray">
                <p class="wallet-no-transactions">
                    <em>No transactions in your wallet. You might need to wait for the network to synchronize.</em>
                </p>
            </ng-template>

            <div class="mat-elevation-z8">
                <table class="wallet-transactions-table interactive-table" mat-table matSort [dataSource]="dataSource">

                    <ng-container matColumnDef="transactionType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Transaction not confirmed in any blocks yet." matTooltipPosition="right" *ngIf="!transaction.transactionConfirmedInBlock">warning</mat-icon>
                            <mat-icon class="wallet-confirmed-icon" matTooltip="Confirmed in block #{{transaction.transactionConfirmedInBlock}}" matTooltipPosition="right" *ngIf="transaction.transactionConfirmedInBlock">check</mat-icon>
                            {{transaction.transactionType}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionAmount">
                        <th mat-header-cell *matHeaderCellDef> Amount </th>

                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">

                            <span *ngIf="transaction.transactionType == 'sent'">
                                <strong>- {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>

                            <span *ngIf="transaction.transactionType == 'received'">
                                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>

                            <span *ngIf="transaction.transactionType == 'staked'">
                                <strong>+ {{ transaction.transactionAmount + transaction.transactionFee | coinNotation | number: '1.0-8': this.localeService.locale
                                }}
                                </strong>
                            </span>

                        </td>
                    </ng-container>

                    <ng-container matColumnDef="transactionTimestamp">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let transaction" [ngClass]="{'unconfirmed': !transaction.transactionConfirmedInBlock}">
                            <span *ngIf="!appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'medium': this.localeService.locale
                            }}</span>
                            <span *ngIf="appState.handset">{{ transaction.transactionTimestamp * 1000 | date:'short': this.localeService.locale
                            }}</span>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTransactionDetails(row)"></tr>
                </table>

                <mat-paginator class="transaction-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

        <br>
        <p>Your wallet was created {{wallet?.generalInfo?.creationTime | date:'short': this.localeService.locale}}. Maximum 500 transactions is shown in this history.</p>

        <p>Does the history look wrong? Are you missing some transactions? Go to <a routerLink="/tools">Tools</a> and run Resync to refresh the transaction history.</p>

    </mat-card>
</div>
