@import '~@angular/material/theming';

.wallet
{
    div[fxLayoutAlign] { padding:10px; padding-left: 25px; padding-top:15px;}

    .dashboard-card {
        //height: 100%;
        //margin: 20px;
        min-height: 150px;
        //width: 100%;
    }

    .text-uppercase {
        font-size: medium;
    }

    .mat-tab-links {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .mat-tab-link {
        font-weight: bolder !important;
        height: 40px;
        border-radius: 20px;
        margin: 0 10px;
    }

    .balanceTitle {
        display: flex;
        align-items: center;
    }

    .balanceTitle > .mat-h2 {
        margin: 0 5px 0 0;
    }

    .balanceToolTip {
        width: 15px;
        height: 15px;
        font-size: 15px;
    }

    .txInfo {
        margin-left: 5px;
    }

    .balance-card > a , .internal-cards > a , .wallet-send , .wallet-receive , .wallet-button {
        width: 150px;
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
        font-size: 1.2rem;
    }

    .details-button {
        width: 230px;
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
        font-size: 1.2rem;
    }

    .transaction-types {
        background-color: #351049 !important;
        background-size: cover;
        color: white;
        font-size: 1rem;
    }

    .transaction-types.mat-tab-label-active {
        background: linear-gradient(to bottom left, #5fecff, #52185e);
        background-size: cover;
        color: white;
        font-size: 1rem;
    }

    .balance-buttons , .details-buttons > p {
        margin-top: auto;
        text-align: right;
    }

    .mat-card {
        margin-bottom: auto;
        color: white;
    }

    mat-card {
        margin-bottom: auto;
    }

    .mat-card-subtitle > h4 {
        color: white;
    }

    .balance {
        background-image: url('../../../assets/rutanio-core/card-background.png') !important;
        background-size: cover;
    }

    .staking , .details {
        background: linear-gradient(to right, #341139, #7f3e88) !important;
        background-size: cover;
        height: 220px;
    }

    .transactions {
        background: linear-gradient(to bottom, #341139, #7f3e88) !important;
        background-size: cover;
    }

    .advanced-details {
        display: flex;
        flex-flow: row;
        width: 100%;
    }

    .mat-card-content > p {
        text-align: left;
    }

    /* mat-form-field styling */
    ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(255, 255, 255, 0.70) !important;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.70) !important;
    }

    /* mat-form Border */
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: white;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
        color: white;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
        color: white;
    }
    .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-label{
        color: red !important;
    }
    /* mat-form Border */
    .mat-form-field.mat-focused .mat-form-field-label {
        color: white;
    }
    .mat-form-field .mat-form-field-label {
        color: white;
    }
    /* mat-form Font color */
    input.mat-input-element {
        color: white;
    }

    .staking > * .mat-focused input {
        caret-color: white;
    }

    .dashboard-split-card {
        display: flex;
        flex-direction: row;
    }

    .dashboard-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .dashboard-split-right {
       padding-left: 20px;
       flex-grow: 1;
       width: 35%;
       align-self: center;
    }

    @media screen and (max-width: 599px) {
        .dashboard-split-card
        {
            flex-direction: column;
        }

        .dashboard-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .dashboard-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }


    .break-everything {
        clear: both;
    }

    .transaction-paginator > * .mat-select-value, .transaction-paginator > * .mat-select-arrow {
        color: rgba(0, 0, 0, 0.54);
    }


    .link {
        cursor: pointer;
    }

    .wallet-no-transactions {
        text-align: center;
        margin-top: 20px;
    }

    .tab-pane > .mat-form-field {
        width: 200px;
    }

    .tab-pane > * .mat-form-field-underline {
        display: none;
    }

    .datePicker > .mat-icon-button {
        color: white;
    }

    .wallet-transactions-table {
        width: 100%;

        .unconfirmed {
            font-style: italic;
            color: rgba($color: silver, $alpha: 0.75)
        }

        // .mat-row {
        //     background-color: red! important;
        //     //color: blue !important;
        // }

        // .mat-row:hover {
        //     background-color: rgba(mat-color($primary, 'default'), .6);
        //     //background-color: red! important;
        //     //color: blue !important;
        // }
    }

    // .wallet-transactions-table .mat-row {
    //     background-color: red! important;
    //     color: blue !important;
    // }

    .wallet-confirmed-icon {
        font-size: 14px;
    }

    .wallet-split-card {
        display: flex;
        flex-direction: row;
    }

    .wallet-split-left {
        flex-grow: 2;
        min-width: 230px;
        width: 65%;
    }

    .wallet-split-right {
       padding-left: 20px;
       flex-grow: 1;
       width: 35%;
       align-self: center;
    }

    .wallet-info-icon {
        float: right;
        cursor: default;
    }

    @media screen and (max-width: 599px) {
        .wallet-split-card
        {
            flex-direction: column;
        }

        .wallet-split-left {
            flex-grow: 2;
            width: 100%;
        }

        .wallet-split-right {
            flex-grow: 1;
            width: 100%;
            align-self: center;
         }
    }
}
