.logout
{
    display: flex;
    justify-content: center;
	align-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;

}

.accept-button {
    background: linear-gradient(to bottom left, #5fecff, #52185e);
    background-size: cover;
    color: white;
    font-size: 1rem;
}

.cancel-button {
    background-color: #561265 !important;
    background-size: cover;
    color: white !important;
    font-size: 1rem;
}
