<div class="login-container not-selectable">
    <div class="login-content">
        <div class="inner-content">
            <img src="assets\rutanio-core\logo-rutanio.png" class="login-logo">
            <p class="alata-regular subheader">THE ECONOMY THAT PROPELS</p>
            <h1 class="alata-regular header">THE<br/>INNOVATION<br/>ECOSYSTEM</h1>
            <div class="lower-info">
                <div fxFlex class="login-banner-text">
                    <p>
                    &nbsp;Release: &nbsp;{{appState.version}}<br>
                    Network: &nbsp;{{appState.network}}<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Mode: &nbsp;{{appState.mode}}<br>
                    <span *ngIf="status">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Peers: &nbsp;{{status?.inboundPeers.length + status?.outboundPeers.length}}
                    </span>
                    </p>
                </div>
                <div class="login-mode">
                    <button class="extra-opts" mat-button (click)="changeMode()">
                        <span class="material-icons">public</span>
                        Change Mode
                    </button> &nbsp;
                    <button class="extra-opts" mat-button routerLink="/advanced">
                        <mat-icon mat-list-icon>settings</mat-icon>
                        Tools
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="login-banner">
        <div class="login-accounts" *ngIf="hasWallet">
            <mat-form-field appearance="fill">
                <mat-label><mat-icon>account_balance_wallet</mat-icon> Select Wallet</mat-label>
                <mat-select [(ngModel)]="selectedAccount">
                    <mat-option *ngFor="let account of accounts" [value]="account">
                        {{account.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="login-actions" *ngIf="selectedAccount == null">
                <button routerLink="/account/create" mat-flat-button class="login-create-button">CREATE</button>
                <p>or</p>
                <button routerLink="/account/recover" mat-flat-button class="login-restore-button">RESTORE</button>
                <p>your account</p>
            </div>
            <span *ngIf="selectedAccount != null">
                <br>
                <mat-form-field appearance="fill" class="form-field">
                    <mat-label><mat-icon>lock</mat-icon> Wallet password</mat-label>
                    <input matInput type="password" (keyup.enter)="unlock()" [(ngModel)]="password" placeholder="Fill out to unlock wallet">
                </mat-form-field>
                <br>
                <div class="login-buttons">
                    <button class="login-cancel-button" (click)="cancel()" mat-flat-button>CREATE</button>
                    <button class="login-unlock-button" (click)="unlock()" [disabled]="unlocking" mat-flat-button >UNLOCK</button>
                </div>
                <br>
                <br>
                <div *ngIf="invalidPassword">The password is not correct.</div>
            </span>
            <span *ngIf="errorMessage" class="error-messages">
                {{errorMessage}}
            </span>
            <br>
        </div>
        <div class="login-accounts" *ngIf="!hasWallet">
            <div class="login-actions" *ngIf="selectedAccount == null">
                <button routerLink="/account/create" mat-flat-button class="login-create-button">CREATE</button>
                <p>or</p>
                <button routerLink="/account/recover" mat-flat-button class="login-restore-button">RESTORE</button>
                <p>your account</p>
            </div>
        </div>
    </div>
</div>
