.mat-tooltip {
/* your own custom styles here */
/* e.g. */
background-color: #8a4b93 !important;
}

::ng-deep snack-bar-container.snackbar {
    background: green !important;
    text-align: center;
}

p.ng-star-inserted.root-text {
    margin: 0px;
}

.root {
  .daemon-shutdown-status {
    z-index: 10000;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-download {
      animation: blinker 2s linear infinite;
  }

  @keyframes blinker {
      50% {
          opacity: 0;
      }

  }

  .daemon-shutdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
  }

  .daemon-shutdown-spinner {
    margin-right: 20px;
  }

  .details-title {
    display: inline-block;
    padding-top: 14px;
    vertical-align: middle;
  }

  .details-full-width {
    min-width: 100% !important;
  }

  .menu-top {
      display: flex;
      flex-direction: row;
      height: 64px;
      padding: 8px;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
  }

  .mat-drawer {
    background: #341139;
    color: white;
  }

  .not-selectable {
      border-right: 0;
  }

  .menu-top-logo {
      height: 40px;
  }

  .swaps-opt:hover > * .rutanio-logo, .swaps-opt.main-menu-active > * .rutanio-logo {
      opacity: 1;
  }

  .rutanio-logo {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

  .toolbar {
    background-color: #341139;
    color: white;
   }

   .mat-card {
    border: 55px !important;
    border-radius: 25px !important;
   }

   .mat-list .mat-list-item {
       border-radius: 10px;
       border-right: 0;
   }

   mat-list-item > h4 {
    color: white;
    font-weight: bold;
}

  .menu-top-text {
    margin-left: 20px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    font-size: 20px;
}

    .app-sidenav-content {
        background-color: #1c061f;
    }
}
